
/* Base styles */
.contianer{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Roboto';
   
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}

h2{
    width: px;
    height: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0080FD;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 60.55px;
    line-height: 130%;
    color: #000000;
} 
 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;
} 